.nav-menu-item {
  margin-top: 24px;
}

.nav-menu-item a {
  text-decoration: none;
  color: #010101;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.2s;
  text-transform: uppercase;
}

.nav-menu-item a:hover {
  color: #FF6B0A;
}

.nav-menu-item a.active {
  color: #FF6B0A;
}
